<div class="form-container">
  <img src="../../assets/profit-and-loss.png" alt="">
  <h1>{{ title }}</h1>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <button mat-flat-button color="primary">
      REGISTER
    </button>
  </form>
</div>
