h1 {
  text-align: center;
  font-size: 2.5rem;
}

img {
  width: 300px;
  margin: auto;
}

button {
  width: 60%;
  margin: auto;
}

.homepage-container,
.logo-container,
.buttons-container {
  display: grid;
  grid-template-rows: max-content;
}

.homepage-container {
  gap: 8rem;
}

.buttons-container {
  gap: 2rem;
}
